<div *ngIf="!loggedIn; else bigElse">
    <button (click)="lSwitch()">{{lwind}}</button>
    <div *ngIf="lWindStatus; else elseBlock">
        username:animelover password:Hentai1
        <input placeholder="username" [(ngModel)]="username"><br>
        <input placeholder="password" [(ngModel)]="password"><br>
        <button (click)="submit()">submit</button>
        <div>Logged In: {{loggedIn}}</div>
    </div>
    <ng-template #elseBlock>
        <a>First name</a><input [(ngModel)]="firstname" placeholder="First name">
        <a>Last name</a><input [(ngModel)]="lastname" placeholder="Last name">
        <a>Username</a><input [(ngModel)]="username2" placeholder="Username">
        <a>Email</a><input [(ngModel)]="email" placeholder="Email">

        <a>Password</a><input [(ngModel)]="password2" placeholder="Password">
        <button (click)="register()"></button>
    </ng-template>
</div>

<ng-template #bigElse>
    <nav>
        <button>        <a (click)="setHome()">Home</a>
        </button>
        <button>        <a (click)="setDelete()">Delete a user</a>
        </button>
        <button>        <a (click)="setAddUser()">Add user</a>
        </button>
        <button>        <a (click)="setAddFeedback()">Feedback</a>
        </button>
        <button>        <a (click)="setWeatherWhereIAm()">Weather Where I am</a>
        </button>
        <button>        <a (click)="setAllWeather()">All Weather</a>
</button>
        <button><a (click)="viewAllUsers()">All Users</a></button>
        <button (click)="logout()">log out</button>

    </nav>
    <div [ngSwitch]="authTracker">
        <div *ngSwitchCase="0">
            Home: Home
        </div>
        <div *ngSwitchCase="1">Delete A User
            <input placeholder="username" [(ngModel)]="deleteUsername"><br>
            <button (click)="submitDelete()">Delete</button>
            <div></div>

        </div>
        <div *ngSwitchCase="2">Add A User

        </div>
        <div *ngSwitchCase="3">Write Some feedback
            <br><input placeholder="feedback">
        </div>
        <div *ngSwitchCase="4">Weather Here</div>
        <div *ngSwitchCase="5">All Weather
            <div *ngIf="allWeatherBool">
                <div *ngFor="let weather of allWeatherData">
                    <p>Weather Date/Time:{{weather.weatherdatetime}} &nbsp;&nbsp; Station Number: {{weather.stationnumber}} &nbsp;&nbsp; Precipitatipn: {{weather.percipitation}}mm &nbsp;&nbsp; Temperature: {{weather.temperature}}c &nbsp;&nbsp; Windspeed:
                        {{weather.windspeed}}Km/h &nbsp;&nbsp; Humidity: {{weather.humidity}}%</p>

                </div>
            </div>
        </div>
        <div *ngSwitchCase="6">All Users
            <div *ngIf="allUsersBool">
                <div *ngFor="let user of allUserData">
                    <p>First Name:{{user.firstname}} &nbsp;&nbsp; Last Name: {{user.lastname}} &nbsp;&nbsp; Username: {{user.username}} &nbsp;&nbsp; Email: {{user.useremail}} &nbsp;&nbsp; Password: {{user.userpw}}</p>
                </div>
            </div>

        </div>
    </div>
</ng-template>